home/.pentadactyl/info/
.DS_Store
/home/.emacs.d/private/framegeometry
.direnv/
.envrc
display.md
node_modules/
package-lock.json
home/org-files/
home/personal/

# FlowLoom temporary files
.flowloom/tmp/

# Org-mode export files
home/dotspacemacs-modular.org.org
